---
layout: splashhomepage
title: Save Portugal
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/pbt_homepage.webp
#  actions:
#    - label: "Apoiar"
#      url: "https://plantbasedtreaty.org/portuhal-action"
  caption: "Ao apoiares a iniciativa deste Tratado estás a pedir aos nossos representantes para colocarem os sistemas alimentares na vanguarda do combate à crise climática."
excerpt: "[![PBT](assets/images/pbt_action.webp)](https://plantbasedtreaty.org/portugal-action)"
#excerpt: "Ao apoiares a iniciativa deste Tratado estás a pedir aos nossos representantes para colocarem os sistemas alimentares na vanguarda do combate à crise climática."


animalsavept:
  - image_path: /assets/images/AnimalSPxhorz.webp
    alt: "Animal Save Portugal"
    excerpthome: 'A nossa missão é de quebrar o especismo e a dissonância cognitiva, realizando vigílias às portas dos matadouros e testemunhar a chegada dos animais aos mesmos, fazendo acções de rua e acções de sensibilização pela libertação animal.'
    url: "/animal"
    btn_label: "saber mais sobre o Animal Save"
    btn_class: "btn--animal"

climatesavept:
  - image_path: /assets/images/ClimateSPxhorz.webp
    alt: "Climate Save Portugal"
    excerpthome: 'A nossa visão para a inversão das alterações climáticas passa pelo fim da exploração animal, conversão de campos de monoculturas para alimentos de animais em floresta e criação de santuários animais.'
    url: "/climate"
    btn_label: "saber mais sobre o Climate Save"
    btn_class: "btn--climate"

healthsavept:
  - image_path: /assets/images/HealthSPxhorz.webp
    alt: "Health Save Portugal"
    excerpthome: 'A nossa missão é promover e tornar acessível uma alimentação baseada em plantas para resolver as epidemias de doenças preveníveis e melhorar a qualidade de vida da nossa comunidade.'
    url: "/health"
    btn_label: "saber mais sobre o Health Save"
    btn_class: "btn--health"

caresavept:
  - image_path: /assets/images/ASave&CarePortugalxhorz.webp
    alt: "Climate Save Portugal"
    excerpthome: 'A nossa missão passa pela investigação à indústria pecuária, resgate de animais, construção de santuários e a criação de comunidades em prol da união e liberdade para todos os seres.'
    url: "/saveandcare"
    btn_label: "saber mais sobre o Animal Save & Care"
    btn_class: "btn--care"


gallery:
  - url: /agir/touradas/
    image_path: assets/images/tourada-provedoria-rtp.webp
  - url: /agir/espanha
    image_path: /assets/images/embaixada-es-polvos.webp
  - url: /agir/sagrestourada
    image_path: /assets/images/sagres-tourada.webp

---

<div class="notice--accoes">
  <h1 type="center">Acções a decorrerem online:</h1>
  {% include gallery type="center" %}
</div>

<figure>
  <img src="{{ site.baseurl }}/assets/images/tolstoy.webp">
</figure>


<h1>Em Portugal, o The Save Movement está representado através de 4 ramos principais de actuação:</h1>
<hr>
{% include feature_row id="animalsavept" type="left" %}
{% include feature_row id="climatesavept" type="right" %}
{% include feature_row id="healthsavept" type="left" %}
{% include feature_row id="caresavept" type="right" %}

<figure>
  <a href="/juntar"><img src="/assets/images/juntar-home.webp" alt="Junta-te ao Save Portugal"></a>
</figure>
