<div class="page__footer-follow">
  <ul class="social-icons">
    {% if site.data.ui-text[site.locale].follow_label %}
      <li><strong><a href="{{ site.baseurl }}/juntar" rel="nofollow noopener noreferrer">Junta-te a nós.</a></strong></li>
      <li><strong><a href="{{ site.baseurl }}/contacto" rel="nofollow noopener noreferrer">Contacta-nos.</a></strong></li>

    {% endif %}

    {% if site.footer.links %}
      {% for link in site.footer.links %}
        {% if link.label and link.url %}
          <li><a href="{{ link.url }}" rel="nofollow noopener noreferrer"><i class="{{ link.icon | default: 'fas fa-link' }}" aria-hidden="true"></i> {{ link.label }}</a></li>
        {% endif %}
      {% endfor %}
    {% endif %}

    {% unless site.atom_feed.hide %}
      <li><a href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}"><i class="fas fa-fw fa-rss-square" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].feed_label | default: "Feed" }}</a></li>
    {% endunless %}
  </ul>
</div>

<div class="page__footer-copyright">O {{ site.name | default: site.title }} é politizado e apartidário. Feito com 🧡💜💚, pela libertação animal.</div>
